*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* colors */
    --body-background-color:#000000;
    --bg-task-color:#272626cb;
    --bg-section-color: rgb(7, 7, 7);

    --bg-button-color:#1a1a1a;
    --text-color:#ffffff;

    --del-btn-bg:rgb(255, 0, 0);

    --blur-effect-color:rgba(60, 60, 60, 0.683);

    --add-task-btn:rgba(46, 45, 45, 0.483);

    /* padding */
    --nav-padding:15px  30px;
    --padding-s:5px ;
    --padding-m:10px;
    --padding-l:15px ;
    --padding-xl:20px;
    --padding-xxl:30px;
    --padding-xtrlg:60px;

    /* border-radius */
    --button-radius:50%;
    --task-col-radius:1%;
    --del-btn-radius:10px;
    --task--add-raduis:5px;


    /* margin */
    --task-margin-min:5px 7px;
    
}

html,body{
    width: 100%;
    height:100%;
}

body{
    background-color: var(--body-background-color) ;
    color: var(--text-color);
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; /* Make sure it's above everything */
    background-color: var(--bg-button-color);
}



section{
    padding: var(--nav-padding);
    display:flex;
    flex-grow: 1;
    justify-content: space-between;
    background-color: var(--body-background-color);
     gap: var(--padding-xxl);
}


section .task-column{
    background-color: var(--bg-task-color);
    flex-grow: 1;
    border-radius: var(--task-col-radius);
    width: 100%;
   
}

section .task-column.hover-over{
    border: 2px dashed var(--text-color);
    scale: 1.05;
}

.heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-m);
}

section .task-column .task{
    display: flex;
    flex-direction: column;
    padding: var(--padding-m);
    gap: var(--padding-s);
    background-color: #262626;
    margin: var(--task-margin-min);
    border-radius: var(--del-btn-radius);
    cursor:grab;
   
}

section .task-column .task button{
    align-self: flex-end;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--del-btn-radius);
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: var(--del-btn-bg);
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
  
}

.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.active{
    display: flex;
}

.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--blur-effect-color);
    backdrop-filter: blur(5px);
}

.modal .center{
    background-color: var(--bg-button-color);
    padding: var(--padding-xxl);
    border-radius: var(--del-btn-radius);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    z-index: 10;
}

.modal .center input, .modal .center textarea, .modal .center select{
    background-color: var(--bg-task-color);
    border: none;
    outline: none;
    color: var(--text-color);
    padding: var(--padding-m);
    border-radius: var(--task--add-raduis);
}

.modal .center button{
    background-color: var(--add-task-btn);
    border: none;
    outline: none;
    color: var(--text-color);
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius: var(--del-btn-radius);
    width: fit-content;
    align-self:center;
   
}



/* to be able to work while dev tool is open */
.modal {
    pointer-events: none;
}

.modal.active {
    pointer-events: auto;
}
