*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}

#page{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: rgb(99, 43, 43);
}
#page2{
    height: 100vh;
    width: 100vw;
    background-color: rgb(96, 128, 28);
}
#page3{
    height: 100vh;
    width: 100vw;
    background-color: rgb(99, 11, 230);
}

canvas{
    max-width: 100vw;
    max-height: 100vh;
}
